/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */


/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

* {
    font-family: "Raleway";
}
html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

.jumbotron {
    padding-bottom: 30px;
}

.container {
    padding-bottom: 30px;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Helper classes
   ========================================================================== */


/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}
.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after, *:first-letter, *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}

/*------------------- NAVBAR ---------------------------*/

.navbar-default {
    background-color: #2c3e50;
    border-color: #2c3e50;
    border-radius: 0px;
    z-index: 9999;
}
.navbar-default .navbar-brand {
    background-color: #2c3e50;
    color: #ecf0f1;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    background-color: #2c3e50;
    color: #3498db;
}
.navbar-default .navbar-text {
    background-color: #2c3e50;
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
    background-color: #2c3e50;
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #2c3e50;
    color: #3498db;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
    background-color: #2c3e50;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
    background-color: #2c3e50;
    color: #ecf0f1;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover, .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #3498db;
    background-color: #2c3e50;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #2c3e50;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #3498db;
    background-color: #2c3e50;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #3498db;
    background-color: #2c3e50;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #3498db;
    background-color: #2c3e50;
}
.navbar-default .navbar-toggle {
    border-color: #2c3e50;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #2c3e50;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2c3e50;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: #2c3e50;
    border-color: #ecf0f1;
}
.navbar-default .navbar-link {
    background-color: #2c3e50;
    color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
    background-color: #2c3e50;
    color: #3498db;
}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        background-color: #2c3e50;
        color: #ecf0f1;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        background-color: #2c3e50;
        color: #3498db;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #3498db;
        background-color: #2c3e50;
    }
}
.container-fluid {
    background-color: #2c3e50;
}

/*------------------- /NAVBAR ---------------------------*/


/*=================== INDEX =============================*/

.inde {
    background-image: url("../img/kenya.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 2%;
    padding-bottom: 9%;
    padding-right: 2%;
}
.inde h1 {
    text-align: center;
    padding-top: 25px;
    color: white;
    font-size: 3.5em;
    font-family: 'raleway';
    font-weight: bold;
}
.chooselang {
    padding-top: 5%;
    color: white;
    font-weight: bold;
}
.chooselang img {
    border-radius: 30px;
}
.chooselang a:hover {
    border-radius: 30px;
    border: 2px solid gray;
    height: 300px;
    width: 500px;
}
.countrycover {
    background-image: url("../img/southafrica.jpg");
    background-repeat: no-repeat;
    height: 960px;
    padding-bottom: 20px;
}

.countrycover h1{
  color: white;
  text-align: center;
  padding-top: 8%;
  font-size: 2.2em;
  font-weight: bold;
}

.countryfr {
    background-color: #f1f1f1;
    border: 1px solid lightgray;
    padding-bottom: 20px;
}

.countryfr img {
    padding: 10px;
}
.countrycover {
    padding-bottom: 50px;
    padding-top: -120px;
}

/*=================== /INDEX =============================*/


/*=================== HOME ==============================*/


/*------------------- CAROUSEL ---------------------------*/

.boot_slider {
    margin-top: -120px;
}

/*------------------- /CAROUSEL ---------------------------*/

/*------------------- TEAM ---------------------------*/
.portrait {
    border-radius: 100%;
    width: 150px;
    height: 150;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*------------------- /TEAM ---------------------------*/

/*------------------- FOOTER ---------------------------*/

footer {
    background-color: #2c3e50;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer p {
    color: white;
}
.fa-4x {
    color: #3498db;
    height: 100px;
    width: 150px;
}

/*------------------- /FOOTER ---------------------------*/


/*=================== /HOME ==============================*/


/*=================== /portrait ==============================*/

.portraitcover {
    /*margin-top: -50px;*/
    padding-bottom: 50px;
}

.portrait img{
  height: 250px;
  width: 250px;
}

.portraitcover h1{
  /*padding-top: 25%;*/
  /*color: lightgray;*/
  text-align: center;
  font-size: 3.2em;
  font-weight: bold;
}

/*=================== /portrait ==============================*/
